@font-face {
  font-family: 'HakgyoansimDoldamM';
  src: url('./fonts/HakgyoansimDoldamM.ttf') format('truetype');
  }

.cardOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(105deg,
  transparent 42%,
  rgba(255, 219, 112, 0.8) 47%,
  rgba(132, 50, 255 ,0.6) 52%,
  transparent 56%);
  filter: brightness(1.1) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}

.cardOverlay2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(105deg,
  transparent 42%,
  rgba(255, 219, 112, 0.8) 47%,
  rgba(132, 50, 255 ,0.6) 52%,
  transparent 56%);
  filter: brightness(1.1) opacity(0.8);
  mix-blend-mode: color-dodge;
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}

.idealTitle{
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #0000ff, #9900ff, #ff00ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  transform: perspective(15px) rotateX(-3deg);
  white-space: nowrap;
}
.idealTitle_up{
  transform: rotate(-45deg);
  transform-origin: bottom left;
  white-space: nowrap;
}
.idealTitle_down{
  /* font-size: 24px;
  font-weight: bold; */
  transform: rotate(45deg);
  transform-origin: bottom left;
  white-space: nowrap;
}

.mh-w-50{ width: 50%;}

.mh-indexTitle-red-0 {
  background: linear-gradient(45deg, red, black, black, black, black, black);
}
.mh-indexTitle-red-1 {
  background: linear-gradient(45deg, red, red, black, black, black, black);
}
.mh-indexTitle-red-3 {
  background: linear-gradient(45deg, red, red, red, black, black, black);
}
.mh-indexTitle-red-4 {
  background: linear-gradient(45deg, red, red, red, red, black, black);
}
.mh-indexTitle-red-5 {
  background: linear-gradient(45deg, red, red, red, red, red, black);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinkingCursor {
  display: inline-block;
  border-right: 2px solid #000; /* 언더바 스타일 설정 */
  animation: blink 1s infinite; /* 1초 주기로 blink 애니메이션 실행 */
}

.video-player{
  position: relative;
}

.video-logo{
  position: absolute;
  top: 10px;
  left: 10px;
}

.video-bottom-ovl{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPlay{
  left: 10%;
}

.progressBar{
  border-radius: 2px;
}
.progressBar-minho{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.progressBar-minho::-webkit-slider-thumb {
  /* -webkit-appearance: none; */
  /* background-color: #ff0000; */
  /* cursor: pointer; */
  /* border: 1px solid #000000;  */
  /* height: 36px; width: 16px;    */
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  /* border-radius: 3px; */
}

.progressBar-minho::-moz-range-thumb {
  -moz-appearance: none;
}

.progressBar-minho::-ms-thumb {
  appearance: none;
}